.sideBar {
  height: 95.5%;
  width: 18%;
  overflow: hidden;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.sideBarTitle,
.sideBarSubTitle {
  color: aliceblue;
}

@media (max-width: 430px) {
  .sideBar {
    margin: 0.5rem;
    color: aliceblue;
    cursor: pointer;
    max-height: 5%;
    width: 89%;
    bottom: 0;
    left: 0;
    top: auto;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
  }
  .sideBarTitle,
  .sideBarSubTitle {
    display: none;
  }
}
@media (max-width: 860px) {
  .sideBar {
    height: 97.1%;
  }
}
