.sideBar {
  height: 95.5%;
  width: 18%;
  overflow: hidden;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
}

.sideBarTitle .sideBarSubTitle {
  color: aliceblue;
}

@media (max-width: 430px) {
  .sideBar {
    margin: 0.5rem;
    max-height: 10%;
    width: 89%;
    display: flex;
    flex-direction: row;
  }
  .sideBarTitle,
  .sideBarSubTitle {
    display: none;
  }
}
@media (max-width: 860px) {
  .sideBar {
    height: 97.1%;
  }
}
